<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../assets/images/TodoCosasFrikis-portal-web-blog-tienda-online-friki-2020-header-mobile.png"
                alt="logo de tienda friki" width="1200" height="699">
        </div>
        <div><a href="../index.html">INICIO</a></div>
        <div><a href="./productos.html">PRODUCTOS</a></div>
        <div><a href="./presupuesto.html">PRESUPUESTO</a></div>
        <div><a href="./contacto.html">CONTACTO</a></div>
        <div class="settings">
            <a href="#"><img src="../assets/images/settingslogo.png" alt="settings logo"></a>
        </div>
    </div>
    <main>
        <p>
            Encuéntranos en la calle Alcaparras 38 de madrid. Pásate por la tienda y échale el ojo a todo lo que tenemos
            expuesto. También puedes pedir información enviándonos un email a <a
                href="mailto:todocosasfrikis@info.com">todocosasfrikis@info.com</a> o solicitar un presupuesto en
            nuestra pestaña de presupuesto. También tenemos nuestro WhatsApp a disposición de todos vosotros para
            cualquier consulta rápida.
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.7236271039055!2d-16.722388423961302!3d28.367204096079117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc6a87fef1e06f83%3A0xf74ef4dd70afe122!2sI-CO%20WORKING!5e0!3m2!1ses!2ses!4v1740686656628!5m2!1ses!2ses"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
    <footer>
        <div class="fila1">
            <div class="datos">
                Todo Cosas Frikis S.L. <br>C/ Alcaparras 38, 45860 Madrid <br>todocosasfrikis@info.com <br>649 359 611
            </div>
            <div class="socials">
                <span><a href="https://x.com/" target="_blank"><img src="../assets/images/x.png" alt="logo twitter"></a></span>
                <span><a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.png"
                            alt="logo instagram"></a></span>
                <span><a href="https://www.facebook.com/" target="_blank"><img src="../assets/images/facebook.png"
                            alt="logo facebook"></a></span>
                <span><a href="https://www.youtube.com/" target="_blank"><img src="../assets/images/youtube.png"
                            alt="logo youtube"></a></span>
            </div>
        </div>
        <div class="avisolegal">
            <a href="#">AVISO LEGAL: Términos de Uso y Política de privacidad.</a>
        </div>
    </footer>
</body>

</html>