<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/productos.css">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../assets/images/TodoCosasFrikis-portal-web-blog-tienda-online-friki-2020-header-mobile.png"
                alt="logo de tienda friki" width="1200" height="699">
        </div>
        <div><a href="../index.html">INICIO</a></div>
        <div><a href="./productos.html">PRODUCTOS</a></div>
        <div><a href="./presupuesto.html">PRESUPUESTO</a></div>
        <div><a href="./contacto.html">CONTACTO</a></div>
        <div class="settings">
            <a href="#"><img src="../assets/images/settingslogo.png" alt="settings logo"></a>
        </div>
    </div>
    <main>
        <h1>PRODUCTOS EN STOCK</h1>
        <div class="imagenes">
            <div class="p1"><img src="../assets/images/productos.css/producto1.jpg" alt="Wonder Woman" width="350"
                    height="347">
                <div>Figura de Wonder Woman<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">18.000€</span> 17,25€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto2.jpg" alt="" width="1749"
                    height="2560">
                <div>Figura monigote con espada<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">5,66€</span> 25€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto3.jpg" alt="Freddy Mercury" width="329"
                    height="350">
                <div>Figura de Alfredo Mercurio<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">23.99€</span> 0€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto1.jpg" alt="Wonder Woman" width="350"
                    height="347">
                <div>Figura de Wonder Woman<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">18.000€</span> 17,25€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto2.jpg" alt="" width="1749"
                    height="2560">
                <div>Figura monigote con espada<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">5,66€</span> 25€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto3.jpg" alt="Freddy Mercury" width="329"
                    height="350">
                <div>Figura de Alfredo Mercurio<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">23.99€</span> 0€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto1.jpg" alt="Wonder Woman" width="350"
                    height="347">
                <div>Figura de Wonder Woman<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">18.000€</span> 17,25€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto2.jpg" alt="" width="1749"
                    height="2560">
                <div>Figura monigote con espada<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">5,66€</span> 25€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto3.jpg" alt="Freddy Mercury" width="329"
                    height="350">
                <div>Figura de Alfredo Mercurio<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">23.99€</span> 0€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto1.jpg" alt="Wonder Woman" width="350"
                    height="347">
                <div>Figura de Wonder Woman<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">18.000€</span> 17,25€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto2.jpg" alt="" width="1749"
                    height="2560">
                <div>Figura monigote con espada<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">5,66€</span> 25€</div>
            </div>
            <div class="p1"><img src="../assets/images/productos.css/producto3.jpg" alt="Freddy Mercury" width="329"
                    height="350">
                <div>Figura de Alfredo Mercurio<br><span
                        style="font-size: 0.85em; text-decoration: line-through;">23.99€</span> 0€</div>
            </div>
        </div>
    </main>
    <footer>
        <div class="fila1">
            <div class="datos">
                Todo Cosas Frikis S.L. <br>C/ Alcaparras 38, 45860 Madrid <br>todocosasfrikis@info.com <br>649 359 611
            </div>
            <div class="socials">
                <span><a href="https://x.com/" target="_blank"><img src="../assets/images/x.png" alt="logo twitter"></a></span>
                <span><a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.png"
                            alt="logo instagram"></a></span>
                <span><a href="https://www.facebook.com/" target="_blank"><img src="../assets/images/facebook.png"
                            alt="logo facebook"></a></span>
                <span><a href="https://www.youtube.com/" target="_blank"><img src="../assets/images/youtube.png"
                            alt="logo youtube"></a></span>
            </div>
        </div>
        <div class="avisolegal">
            <a href="#">AVISO LEGAL: Términos de Uso y Política de privacidad.</a>
        </div>
    </footer>
</body>

</html>